{% extends '@Ui/base.html.twig' %}

{% block login_box %}
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        {% block main_content %}{% endblock %}
    </div>
    <!-- /.login-box -->
{% endblock %}